<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/admin.css">
    <title>Grapher ADMIN</title>
</head>
<body>
    <button id="ignition-btn" onclick="ignition()">IGNITION</button>
    <button id="next-stage-btn" onclick="next_stage()" disabled="true">NEXT STAGE</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="public/js/admin.js"></script>
</body>
</html>
