<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="public/css/index.css">
    <title>Laikata grapher</title>
</head>
<body>
    <video src="public/vid/lorem.mp4" autoplay="true" muted="true" disablePictureInPicture loop="true"></video>

    <div class="overlay">
        <div class="upper-banner">
            <span class="time-est">T+00:00</span>
            <div class="sensors">
                <span class="temperature"><i class="fa-solid fa-temperature-half"></i><b>0</b>ยบ</span>
                <span class="pressure"><i class="fa-solid fa-arrows-down-to-line"></i><b>0</b>hPa</span>
                <span class="humidity"><i class="fa-solid fa-droplet"></i><b>0</b>%</span>
                <span class="height"><i class="fa-solid fa-arrow-up-long"></i><b>0</b>m</span>
            </div>
        </div>

        <div class="progress">
            <canvas></canvas>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="public/js/index.js"></script>
</body>
</html>
